{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Shivansh Goel Python Flask Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/jaylenwaddle.PNG') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Favorite NFL Player</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>You have made it across the Python Flask Server of Shivansh Goel</li>
                            <li>Making sure to know how to use the python flask server is an important key concept</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Secret link for imporant stuff</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pristiano-penaldog.PNG') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Favorite Soccer Player</h5>
                    <p class="card-text">
                        <ol>
                            <li>Pristiano Penaldog is my favoirte soccer player of all time</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go to the secret coding of the python Flask Server</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/coding-pic-2.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Making sure <mark>to learn how to code</mark> with Python?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I love using Python a lot</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Important link here</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

